.main-div {
    background-color: rgb(167, 191, 235);
    border: 2px solid black;
    padding:0px 0px 20px ;
    margin: auto;
    width: 30%;
    text-align:left;
    word-wrap:break-word;
    border-radius: 8px;
}

.input {
    width: 100%;
    margin: 8px 0;
    padding: 5px 10px;
    display: inline-block;
    box-sizing: border-box;
    font-family:cursive;
    
}

#submit {
    width: 100%;
    padding: 10px;
    background-color: rgb(229, 218, 203);
    border-radius: 8px;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(192, 216, 168);
}

.input-text {
    width: 100%;
    padding: 10px 15px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;

}

#heading{
    text-align: center;
}

.del{
    padding: 10px 10px 10px 10px;
    background-color: rgb(254, 73, 73);
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px 0px 0px 20px;
    color: aliceblue;
}